article {
    margin: 0 20px;
}

section>h2 {
    font-size:larger;
}

#notifiche {
    margin: 20px;
    float:right;
}

img {
    width:100px;
}

section>ul>li, div>ul>li{
    margin:10px 10px 10px 0;
}

ul {
    list-style-type: none;
}

.btn{
    color: #41643f;
    border-color: #41643f;
}

.btn:hover{
    background-color: #41643f;
    color:white;
}

button {
    border: none;
    background-color: #fff;
}
