.heart-icon {
    color: #aaa;
    width: 20px;
    height: 20px;
}

.heart-icon.active {
    color: red;
}

.article {
    margin: 20px 20px;
}

.flex-container {
    display: flex;
}

#head {
    text-align: end;
}

.follow{
    float:right;
    background-color: rgba(128, 128, 128, 0.245);
    color:black;
}

.follow.clicked {
    background-color: #28a745;
    color: #fff;
}

#notifiche {
    margin: 10px;
}

.flex-container > div {
    margin: 10px;
}

img {
    width:130px;
}

.img_profile{
    width:10%;
}