.heart-icon {
    color: #aaa;
    width: 20px;
    height: 20px;
}

.heart-icon.active {
    color: red;
}

.article {
    margin: 20px 20px;
}

h2 {
    font-size:larger;
}

p,h2{
    word-wrap: break-word;
}

.flex-container {
    display: flex;
    text-overflow: ellipsis;
}

#head {
    text-align: end;
}

.follow{
    float:right;
    background-color: rgba(128, 128, 128, 0.245);
    color:black;
}

.follow.clicked {
    background-color: #28a745;
    color: #fff;
}

#notifiche {
    margin: 10px;
}
/*.flex-container > div {
    margin: 10px;
}*/

img {
    width:130px;
}

.img_profile{
    width:10%;
}

section>ul>li, div>ul>li{
    margin:10px 10px 10px 0;
}

svg {
    margin-right: 5px;
}

ul {
    list-style-type: none;
}