.btn{
    color: #558151;
    border-color: #558151;
}

.btn:hover{
    background-color: #558151;
    color:white;
}


#logoMenu {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

h1 {
    color: #41643f;
}

h1,#logoMenu {
    display:inline-block;
}