.btn{
    color: #41643f;
    border-color: #41643f;
}

.btn:hover{
    background-color: #41643f;
    color:white;
}


#logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

h1 {
    color: #41643f;
}

h1,#logo {
    display:inline-block;
}