header{
    margin-bottom: 50px;
    margin-top: 50px;
}

legend{
    margin-left: 10px;
    font-size: large;
}


header>div>p {
    margin-left: 20px;
}

fieldset {
    margin-bottom: 20px;
}

fieldset>ul {
    list-style: none;
}

fieldset>ul>li{
    display: flex;
}

fieldset>ul>li>p {
    margin-left: 20px;
}

fieldset>ul>li p:first-child , header p:first-child{
    font-weight: bold;
}

section>div {
    margin-right: 70px;
    justify-content: center;
}

@media print {

    .etichetta-no-stampare {
        display: none;
    }
}


