h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 250%;
    margin: 5% 0;
}

form {
    margin: 10px 50px;
    justify-content: center;
}

img {
    width: 130px;
    margin-right: 10px;
}

/*Lista dei generi*/

.genere>ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.genere>ul>li {
    flex-basis: 33%;
    box-sizing: border-box;
}

.genere>h2,
.indirizzo>h4 {
    margin-bottom: 100px;
    text-align: center;
}

.genere>div,
.indirizzo>div {
    margin-top: 100px;
}

/*Lista bottoni nella pagina base*/

.base>ul {
    list-style: none;
}

.base>ul>li>input {
    width: 200px;
    margin-bottom: 60px;
}

footer {
    display: flex;
    justify-content: center;
    margin-left: 35px;
}