input{
    margin-bottom: 10%;
   
}
textarea{
    margin-bottom: 10%;
}

select{
    margin-bottom: 10%;
}

button{
    margin-right: 2%;
    margin-bottom: 10%;
    margin-top:10%;
}

img {
    width: 130px;
    height: 130px;
}




