input{
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
}
textarea{
    margin:0 10% 10% ;
}

select{
    margin: 0 5%  10% 0;
}

button{
    margin-right: 2%;
    margin-bottom: 10%;
    margin-top:10%;
}

#addImg {
    margin: 20px 40%;
   
}




