/*Bottoni nella parte superiore*/
body header:first-child {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

/*--------------------------------------------------------------------------------*/
/*Informazioni prima della barra strumenti del profilo*/
.top-inf {
    display: flex;
    align-items: center;
}

#profilo-image {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 20px 20px 0px 50px;
}

.top-inf>section {
    display: flex;
    flex-wrap: wrap;
}

.top-inf>section>h2 {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    width: 100%;
    flex-basis: 100%;
    box-sizing: border-box;
}

section>p {
    flex-basis: 50%;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

/* Regole CSS per i primi due elementi p nella section */
section p:nth-of-type(-n+2) {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    width: 100%;
}

/* Regole CSS per gli elementi p con un indice pari nella section */
section p:nth-of-type(even) {
    padding-right: 50px;
}

/*---------------------------------------------------------------------------*/
/*Barra degli strumenti del profilo*/
.profileBar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 10vh;
}

.nav-link.active2 {
    background-color: #3498db;
    /* Colore di sfondo quando il bottone è attivo */
    color: #fff;
    /* Colore del testo quando il bottone è attivo */
}

.nav-item {
    background-color: #ccc;
}

.nav-link {
    color: black;
}

/*-------------------------------------------------------------------*/

.bg-body {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
/*----------------------------------------------------------------------------------*/
/*Articoli scambio attivo*/
.article-scambi>header>img {
    width: 130px;
}

.article-scambi>header>section {
    display: flex;
    flex-wrap: wrap;
}

.article-scambi>header>section>h3,
.article-scambi>header>section>p {
    flex-basis: 50%;
    box-sizing: border-box;
}

.article-scambi > footer {
    display: flex;
    justify-content: flex-end;
}

.article-scambi > footer input:last-child{
    margin-left: 20px;
}
/*-------------------------------------------------------------------------*/