/*Bottoni nella parte superiore*/
.top {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

/*Barra degli strumenti del profilo*/
.profileBar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    align-self: center;
}

.nav-link.active2 {
    background-color: #3498db;
    /* Colore di sfondo quando il bottone è attivo */
    color: #fff;
    /* Colore del testo quando il bottone è attivo */
}

.nav-item {
    background-color: #ccc;
}

.nav-link {
    color: black;
}

/*Informazioni prima della barra strumenti del profilo*/
.top-inf {
    display: flex;
    align-items: center;
}

#profilo-image {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 20px 20px 0px 50px;
}

.informazioni {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
}

.profile-name {
    flex-basis: 100%;
    box-sizing: border-box;
}

#nome-utente {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    width: 100%;
}

/*Bottone follow nella pagina account*/
.follow, .scambio{
    box-sizing: border-box;
    color:black;
    width: 100%;
}

.follow.clicked{
    background-color: #28a745;
    color: #fff;
}

.information-item1,
.information-item2 {
    flex-basis: 50%;
    box-sizing: border-box;
}

.information-item1 {
    padding-right: 50px;
}


#follow,
#follower {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    width: 100%;
}

#num-follow,
#num-follower {
    text-align: center;
    width: 100%;
}

/*Post grandezza nella pagina*/
.bg-body {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/*Immagine libro nel post*/
.image {
    width:130px;
}

/*Titotlo e autore nell annuncio del titolo*/
.informazioni-libro{
    text-align: center;
}

.article-annuncio{
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.button-delete{
    align-self: flex-end;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*Immagine di chi ha postato*/
.img-post{
    width: 30px;
}

.profilo-nome-foto, .nome-evento{
    margin-top: 20px;
}

.profilo-nome-foto{
    align-self: flex-start;
}

.nome-evento{
    margin-right: 60px;
}

.descrizione-annuncio{
    text-align: center;
}

/*Post scambio attivo*/
.informazione-scambio{
    display: flex;
    align-items: center;
}

.info-libro-scambio{
    display: flex;
    flex-wrap: wrap;
}

.nome-scambio, .data-scadenza{
    flex-basis: 50%;
    box-sizing: border-box;
}

.bottom-scambi{
    display: flex;
    justify-content: space-between;
}

/*Cuore per post di account*/
.heart-icon {
    color: #aaa;
    width: 20px;
    height: 20px;
}

.heart-icon.active {
    color: red;
}

.scambio{
    align-items: flex-end;
}





