/*Bottoni nella parte superiore*/
body header:first-child {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.btn{
    color: #558151;
    border-color: #558151;
}

.btn:hover{
    background-color: #558151;
    border-color: #558151;
    color:white;
}

/*--------------------------------------------------------------------------------*/
/*Informazioni prima della barra strumenti del profilo*/
.top-inf {
    display: flex;
    align-items: center;
}

h2 {
    font-size: larger;
}

#profilo-image, #account-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px 20px 0px 50px;
}

.top-inf>section {
    display: flex;
    flex-wrap: wrap;
}

.top-inf>section>h1 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    width: 100%;
    flex-basis: 100%;
    box-sizing: border-box;
}

.top-inf>section>p {
    flex-basis: 50%;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

/* Regole CSS per i primi due elementi p nella section */
.top-inf>section p:nth-of-type(-n+2) {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    width: 100%;
}

/* Regole CSS per gli elementi p con un indice pari nella section */
.top-inf>section p:nth-of-type(even) {
    padding-right: 50px;
}

/*---------------------------------------------------------------------------*/
/*Barra degli strumenti del profilo*/
.profileBar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 10vh;

}

.nav-link.active2 {
    background-color: #558151;
    color: white;
}

.nav-link:hover {
    color: #006161;
}

.profileBar>div {
    border-bottom: 2px solid #558151;
    border-top: 2px solid #558151;
}


/*----------------------------------------------------------------------------------*/
/*Articoli scambio attivo*/
.article-scambi>header :first-child {
    margin-left: 50px;
}

.article-scambi>header :last-child {
    margin-right: 50px;
}

.article-scambi>div>img {
    width: 100px;
}

.article-scambi>header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.article-scambi>section>ul li:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-scambi>section>ul li:last-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.article-scambi>section>ul li:last-of-type :last-child {
    margin-left: 10px;
}

.article-scambi>section>ul>li>img {
    width: 80px;
}

.article-scambi>section>ul>li>h2 {
    text-align: center;
    word-wrap: break-word;
    max-width: 5em;
}

.article-account>footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 50%;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 15px;
}

.article-scambi>footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 15px;
}


.article-account>footer :first-child {
    margin-right: 5px;
}


/*-------------------------------------------------------------------------*/
/*Profilo post libro-scambio*/
.article-libro>header>a>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.article-libro>header>a {
    display: flex;
}

.image {
    width: 130px;
}

ul {
    list-style: none;
}

.article-libro>section>ul>li>div>ul>li p:first-of-type,
.article-recensione>section>ul>li>div>ul>li p:first-of-type,
.article-account>section>ul>li>div>ul>li p:first-of-type {
    font-weight: bold;
}

.article-libro>section>ul>li>div>ul>li p:last-of-type,
.article-recensione>section>ul>li>div>ul>li p:last-of-type,
.article-account>section>ul>li>div>ul>li p:last-of-type {
    margin-left: 5px;
}

.article-libro>section>ul>li>div>ul>li,
.article-recensione>section>ul>li>div>ul>li,
.article-account>section>ul>li>div>ul>li {
    display: flex;
    flex-wrap: wrap;

}

.article-libro>footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 10px;
}

/*-------------------------------------------------------------------*/
/*Profilo post annuncio*/

.article-annuncio>header>a>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.article-annuncio>header>a {
    display: flex;
}

.article-annuncio>section>ul>li {
    margin-bottom: 10px;
}

.heart-icon {
    color: #aaa;
    width: 20px;
    height: 20px;
}

.article-annuncio>footer,
.article-recensione>footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.article-annuncio>footer>p,
.article-recensione>footer>p,
.article-annuncio>footer>svg {
    box-sizing: border-box;
    margin-left: 10px;
}


/*-------------------------------------------------------------------------*/

/*Profilo post recensione*/

.article-recensione>header>a>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.article-recensione>header>a {
    display: flex;
}

.article-recensione>section>ul>li {
    margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------*/

/*Account*/

.top-inf>section>input {
    text-align: center;
    margin: 0 auto;
    float: right;
    background-color: rgba(128, 128, 128, 0.245);
    color: black;
}


footer>svg {
    margin-bottom: 10px;
}

/*---------------------------------------------------------------------------------*/

.article-account>section>ul>li>div>img {
    margin-top: 20px;
}

.dots {
    cursor: pointer;
    color: #777;
}

.hidden-text {
    display: none;
}


.article-account,
.article-annuncio,
.article-libro,
.article-recensione,
.article-scambi {
    margin: 0 20px;
}