/*Bottoni nella parte superiore*/
body header:first-child {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

/*--------------------------------------------------------------------------------*/
/*Informazioni prima della barra strumenti del profilo*/
.top-inf {
    display: flex;
    align-items: center;
}

#profilo-image {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 20px 20px 0px 50px;
}

.top-inf>section {
    display: flex;
    flex-wrap: wrap;
}

.top-inf>section>h2 {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    width: 100%;
    flex-basis: 100%;
    box-sizing: border-box;
}

.top-inf>section>p {
    flex-basis: 50%;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

/* Regole CSS per i primi due elementi p nella section */
.top-inf>section p:nth-of-type(-n+2) {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    width: 100%;
}

/* Regole CSS per gli elementi p con un indice pari nella section */
.top-inf>section p:nth-of-type(even) {
    padding-right: 50px;
}

/*---------------------------------------------------------------------------*/
/*Barra degli strumenti del profilo*/
.profileBar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 10vh;
}

.nav-link.active2 {
    background-color: #3498db;
    /* Colore di sfondo quando il bottone è attivo */
    color: #fff;
    /* Colore del testo quando il bottone è attivo */
}

/*-------------------------------------------------------------------*/

.bg-body {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/*----------------------------------------------------------------------------------*/
/*Articoli scambio attivo*/
.article-scambi>header>img {
    width: 130px;
}

.article-scambi>header>section {
    display: flex;
    flex-wrap: wrap;
}

.article-scambi>header>section>h3,
.article-scambi>header>section>p {
    flex-basis: 50%;
    box-sizing: border-box;
}

.article-scambi > footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.article-scambi > footer input:last-child{
    margin-left: 20px;
}
/*-------------------------------------------------------------------------*/
/*Profilo post libro-scambio*/
.article-libro>header>a>img {
    width: 10%;
    margin-right: 10px;
}

.article-libro>header>a {
   display: flex;
}

.image {
    width: 130px;
}

ul {
    list-style: none;
}

.article-libro > footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
/*-------------------------------------------------------------------*/
/*Profilo post annuncio*/

.article-annuncio>header>a>img {
    width: 10%;
    margin-right: 10px;
}

.article-annuncio>header>a {
    display: flex;
}

.article-annuncio > section > ul > li {
    margin-bottom: 10px;
}

.heart-icon {
    color: #aaa;
    width: 20px;
    height: 20px;
}

.article-annuncio > footer , .article-recensione > footer{
    display: flex;
    justify-content: flex-end;
}

.article-annuncio > footer > p , .article-recensione > footer > p{
    box-sizing: border-box;
    margin-left: 10px;
}
/*-------------------------------------------------------------------------*/

/*Profilo post recensione*/

.article-recensione>header>a>img {
    width: 10%;
    margin-right: 10px;
}

.article-recensione>header>a {
    display: flex;
}

.article-recensione > section > ul > li {
    margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------*/

