.form-group{
    margin: 10px 50px;
    justify-content: center;
}

.form-group .input-group input {
    width: 80%;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 10px;
}

img {
    width:150px;
}

#img_profile{
    width:5%;
}

.follow{
    float: right;
    background-color: rgba(128, 128, 128, 0.245);
    color:black;
}

.follow.clicked {
    background-color: #28a745;
    color: #fff;
}
