body>header {
    margin: 10px 50px 0 50px;
}

  form{
    margin:auto;
    max-width:100%;
  }
  
  form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
  }
  
  form button {
    font-size: 17px;
    cursor: pointer;
  }

  #btnsearch{
    padding: 10px;
    width: 10%;
    background: #2196F3;
    color: white;
    border: 1px solid grey;
    border-right: none;
    float: left;
  }
  
  form #btnsearch:hover {
    background: #0b7dda;
  }
  
  form::after {
    content: "";
    clear: both;
    display: table;
  }


/*.flex-container {
    display: flex;
}*/

/*.follow{
    margin:2%;
    float:right;
    background-color: rgba(128, 128, 128, 0.245);
    color:black;
}

.follow.clicked {
    background-color: #28a745;
    color: #fff;
} */

img {
    width:24%;
    /*object-fit: contain;*/
}

/*article>header>img{
    width:5%;
}*/

#btnannulla{
    display: none;
    padding: 10px;
    background: none;
    border: none;
}

form input.restore {
  width:70%;
}

#btnannulla.restore{
  width:18%;
  display:block;
}
/*table{
    border-spacing: 10px;
}

th,td {
      text-align: center;
      padding: 8px;
}

td .follow {
    float: none;
}*/

#options a.active3 {
  text-decoration: underline;
}

/*section>ul {
  margin-top: 2%;
}

section> ul>li {
  margin: 1% 0;
}*/

ul {
  list-style: none;
}

body>ul>li {
  background-color: transparent !important; 
}

.hidden-text {
  display: none;
}

.dots {
  cursor:pointer;
  color: #777;
}

#genere {
  width: 100px;
}



