h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 250%;
    margin: 5% 0;
}

.footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    clear: both;
}

form {
    margin: 10px 50px;
    justify-content: center;
}
