header {
    margin-bottom:30px;
}

section {
    margin: 10px 50px;
    justify-content: center;
}

img {
    width: 130px;
    height: 130px;
    margin-right: 10px;
    border-radius: 50%;
}

#select-image {
    display: flex;
    align-items: center;
}